__pycache__
.venv
.vscode
Project 1
Project 2
Project 3
15_practice set 2.py
20_pr_01_store_fruits.py
21_pr_02_marks.py
27_Practice_set_5.py
33_Practice_ Set_6.py
35_quick_quiz.py
43_Practice_Set_7.py
48_Practice_Set_8.py
53_Practice_Set_9.py
62_Practice_Set_10.py
72_Practice_Set_11.py
83_Practice_Set_12.py
91_Practice_Set_13.py